
* {
    font-family: "DM Mono", sans-serif;
}

header{
  display: flex;
  height: 100px;
  background-color: rgb(51, 51, 73);
  
} 
header #left-side{
  margin: auto auto;
  flex: 1;
  font-size: 300%;
  padding-left: 30px;
}
header #left-side #header-icon{
  max-height: 60px;
  max-width: 60px;
  border-radius: 15px;
}

header #right-side{
  margin: auto auto;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

header #right-side a{
  color: azure;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#general-container{
  display:block;
  justify-content: center;
  background-image: linear-gradient(to left, #4f617d, #65748e 66%, #7b889e 100%);
  padding-top: 100px;
}

#banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#banner #intro-text{
  flex: 3;
  align-self: center;
  max-width: 50%;
}

#banner #name{
  font-size: 55px;
  font-weight: 300;
  line-height: 60px;
  text-decoration: none solid rbg(3,0,48);
  text-align: left;
  margin: 0px 100px 30px 0px;
}

#banner #mini-desc{
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none solid rbg(3,0,48);
  text-align: left;
}

#banner figure{
  height: auto;
  width: 500px;
  
  
}
#banner figure #pfp{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
}
main{
  margin: auto;
}

#my-work{
  max-width: 1200px;
  margin: 100px 10% 100px 10%;
  display: block;
  text-align: left;
}

#my-work #title {
  font-family: "DM Mono", sans-serif;
  font-size: 32px;
  font-weight: 700px;
  line-height: 36px;
  text-decoration: none solid rgb(3,0,48);
  height: 36px;
  margin: 100px 0 50px 0;
}

#my-work .box{
  height: auto;
  max-width: 570px;
  
} 

#my-work #work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#my-work #work-container .box {

  width: 570px;
  margin: 30px 15px 30px 15px;
  
  
}

#my-work #work-container .work-img  {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: auto;
  width: 100%;
  opacity: 60%;
}
#my-work #work-container figcaption  { 
  text-align: center;
  height: 150px;
  background-color: wheat;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#my-work #work-container figcaption a  {
  font-family: "DM Sans", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  text-decoration: none solid rgb(3,0,48);
}

#my-work #work-container figcaption p  {
  font-family: "DM Sans", sans-serif;
  color: gray;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none solid rgb(3,0,48);
  padding: 10px 10px 20px 10px;
}

#about-me{
  max-width: 1200px;
  margin: 100px 10% 0px 10%;
  padding-bottom: 150px;
  display: block;
  text-align: left;

}

#about-me h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none solid rgb(3,0,48);
  margin: 20px 0 10px 0;
}

#about-me p{
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none solid rgb(3,0,48);
  max-width: 850px;
  margin: 10px 0px 10px 0px;
}

input{
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  background-image: linear-gradient(to left, rgb(212, 201, 201), rgb(138, 122, 122) 50%, #eee 75%, rgb(167, 157, 157) 100%);
  height: 40px;
  width: 245px;
  margin-top: 25px;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}


footer{
  display: flex;
  justify-content: space-between;
  height: 140px;
  text-align: center;
  background-color: rgb(61, 67, 77);
}

footer #left-side, footer #right, footer #links{
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none solid rgb(18,18,18);
  padding: 50px 30px 40px 30px;
}

footer #left-side{
  order:1;
}

footer #right{
  order:3;
  
}
footer #right a[href^="mailto:"]  {
  color: azure;
}

footer #links{
  order: 2;
}

footer #links a{
  color: azure;
  order: 2;
  padding: 50px 30px 40px 30px;
}

input:hover {
  box-shadow: 5px 5px 10px 5px darkslategray;
}

a:hover{
  font-weight:600;
}

.box:hover{
  
  border: 2px solid rgb(138, 122, 122);
  border-radius: 15px;
  
}
#first-box:hover #first{
  
  opacity: 100%;
}
#sec-box:hover #sec{
  
  opacity: 100%;
}
/*TODO: add design */
@media screen and (max-width: 768px) {
  header{
    flex-direction: column;
  }
  footer #left-side, footer #right, footer #links{

    padding: 50px 0px 40px 0px;
  }

}


